<form (ngSubmit)="solve()">
  <section class="form-block">
    <label>Input Fields</label>
    <div class="form-group" *ngIf="showAPIField">
      <label for="apiInput">API url</label>
      <input id="apiInput" placeholder="http://localhost:7777/" type="url" [(ngModel)]="apiUrl" name="apiInput"  [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="deqInput">Enter the system of differential equations here:</label>
      <textarea id="deqInput" rows="5" placeholder="{{'dx = a*x - b*x*y\ndy = -c*y + d*x*y'}}" [(ngModel)]="settings.diffEqText" name="deqInput"></textarea>
    </div>
    <div class="form-group">
      <label for="parametersInput">Parameters:</label>
      <input id="parametersInput" placeholder="a=1.5, b=1, c=3, d=1" type="text" [(ngModel)]="settings.parameters" name=parametersInput size="50">
    </div>
    <div class="form-group">
      <label for="noiseInput">Input the noise function here:</label>
      <textarea id="noiseInput" rows="5" placeholder="{{'dx = a*x\ndy = a*y'}}" [(ngModel)]="settings.noiseText" name="noiseInput"></textarea>
    </div>
    <div class="form-group">
      <label for="noiseParametersInput">Noise parameters:</label>
      <input id="noiseParametersInput" placeholder="a=0.25" type="text" [(ngModel)]="settings.noiseParameters" name=noiseParametersInput size="50">
    </div>
    <div class="form-group">
      <label for="tsStartInput">Time span:</label>
      <span> ( </span>
      <input id="tsStartInput" placeholder="0" type="number" [(ngModel)]="settings.timeSpan[0]" size="10" name="tsStartInput">
      <span> , </span>
      <input id="tsEndInput" placeholder="10" type="number" [(ngModel)]="settings.timeSpan[1]" size="10" name="tsEndInput">
      <span> ) </span>
    </div>
    <div class="form-group">
      <label for="u0Input">Initial conditions:</label>
      <input id="u0Input" placeholder="1.0, 1.0" type="text" [(ngModel)]="settings.initialConditions" name="u0Input">
    </div>
    <div class="form-group">
      <label for="varsInput">Plotting variables:<a href="http://docs.juliadiffeq.org/latest/basics/plot.html#Choosing-Variables-1"><sup>1</sup></a></label>
      <input id="varsInput" placeholder="[:x, :y]" type="text" [(ngModel)]="settings.vars" name="varsInput">
    </div>
    <div class="form-group">
      <label for="solverInput">Solver:</label>
      <div class="select">
        <select id="solverInput" [(ngModel)]="settings.solver" name="solverInput">
          <option *ngFor="let o of SDEsolvers" [ngValue]="o.name">
            {{o.name + ': ' + o.desc}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="titleInput">Graph title:</label>
      <input id="titleInput" placeholder="My ODE" type="text" [(ngModel)]="settings.title" name="titleInput" size="50">
    </div>
  </section>
  <button type="submit" class="btn btn-outline" [disabled]="!serverAwake">Solve it</button>
</form>

<!-- Waking up message -->

<clr-alert [clrAlertSizeSmall]="true" [clrAlertClosed]="serverAwake">
    <div class="alert-item">
        <span class="alert-text">
            Waking up the back-end solver...
        </span>
    </div>
</clr-alert>

<!-- Server returned an error message  -->

<clr-alert [clrAlertType]="'alert-danger'" *ngIf="serverError!=''" (clrAlertClosedChange)="serverErrorClose()">
    <div class="alert-item">
        <span class="alert-text">
            {{serverError}}
        </span>
    </div>
</clr-alert>

<div class="progress loop" *ngIf="waitingOnServer"><progress></progress></div>

<div id="results-plot"
  name="results-plot"
  style="">
</div>
