<h1>DifferentialEquations.jl Online</h1>
<p>This page allows you to use some of the functionality of
<a href="https://github.com/JuliaDiffEq/DifferentialEquations.jl">DifferentialEquations.jl</a> in
your browser.  To get started, click on one of the tools above.</p>

<h2>Authors</h2>
<p>This tool was built by <a href="http://alex.mellnik.net/">Alex Mellnik</a>
and <a href="http://www.chrisrackauckas.com/">Chris Rackauckas</a>.</p>

<h2>How it works</h2>
<p><a href="https://github.com/JuliaDiffEq/DifferentialEquations.jl">DifferentialEquations.jl</a>
is a package written in <a href="http://julialang.org/">Julia</a>, a high-performance
language for technical computing. A web interface frontend was built using <a href="https://angularjs.org/">Angular</a>
and was linked to Julia via <a href="https://github.com/JuliaWeb/Mux.jl">Mux.jl</a>. The
results are parsed via <a href="https://github.com/JuliaDiffEq/ParameterizedFunctions.jl">ParameterizedFunctions.jl</a>,
a component of the DifferentialEquations.jl ecosystem which performs conversions
between natrual syntax to Julia code for parameterized differential equations.
The end result is a clean interface for users to explore some of the functionality
of a performant Julia library directly from their browser.</p>

<h2>Supporting and Citing</h2>
<p>The software in this ecosystem was developed as part of academic research. If
you would like to help support it,
<a href="https://github.com/JuliaDiffEq/DifferentialEquations.jl">please star the repository</a>
as such metrics may help us secure funding in the future. If you use JuliaDiffEq
software as part of your research, teaching, or other activities, we would be grateful
if you could cite our (and others!) work. Please see our
<a href="http://juliadiffeq.org/citing.html">citation page</a> for guidelines.</p>

<h2>More Information</h2>
<p>For more information on about DifferentialEquations.jl, please
<a href="http://docs.juliadiffeq.org/stable/">see the documentation</a>. For more
information on JuliaDiffEq, please <a href="http://juliadiffeq.org/">visit our website</a>.</p>

<h2>Contributing</h2>
<p>If you would like to help contribute to DifferentialEquations.jl Online, please
<a href="https://github.com/JuliaDiffEq/DiffEqOnline">let us know at the DiffEqOnline Github repository</a>.
If you are interested in participating in the Google Summer of Code, please let
us know and we can help you find an interesting and impactful project in the
JuliaDiffEq ecosystem.</p>
